
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* typography */
body {
  font-size: 16px;
}

/* formatting */

.title {
  color: white;
  text-align: center;
  padding-top: 20px;
}

/* utility */



.wrapper {
  width: 80%;
  margin: 50px auto;
  padding: 20px;
  background-color: #B91350;
}

.info {
  border-radius: 15px;
}
.ticket {
  padding-bottom: 10px;
}
.info, .ticket {
  width: 80%;
  margin: 20px auto;
  background-color: white;
}

.row {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
}

input::placeholder {
  text-align: center;
}
input, select {
  border: 1px solid #B91350;
  border-radius: 5px;
  font-size: 1em;
  text-align: center;
  padding: 5px 0;
}
label {
  color: #B91350;
  font-size: 1.1em;
  font-weight: bold;
  margin-bottom: 10px;
}

.buttons {
  text-align: center;
      padding: 20px;
}
button {
  display: inline-block;
  padding: 5px;
  font-weight: bold;
  color: #B91350;
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 1.1em;
  margin: 0 10px;
}

.ticket_body {
  display: flex;
  margin: 0 10px;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
}

.generalita {
  width: 25%;
  background-color: grey;
}

table td, table th {
  padding: 10px;
}
